@{
}
@model List<Supplier>

<div class="container">
    <div class="row pt-4">
        <div class="col-3 mx-auto pt-2 text-center">
            <h2>Suppliers</h2>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-6">
            <a class="btn btn-primary" asp-controller="Supplier" asp-action="Create">Add new supplier</a>
        </div>
    </div>
    <div class="row pt-2"></div>
</div>

@{
    if (Model.Count == 0)
    {
        <div class="row pt-10">
            <div class="text-center mx-auto pt-4">
                <h1>You don't have any suppliers!</h1>
            </div>
        </div>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var supplier in Model) 
                        {
                            <tr>
                                <td>@supplier.Name</td>
                                <td>@supplier.Address</td>
                                <td>Update & Delete</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
}
